<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button style="color: white;">
        <ion-icon name="arrow-back-circle" slot="icon-only"></ion-icon>
      </ion-back-button>
    </ion-buttons>
    <ion-title style="color: white; position: relative; left: 80px; font-weight: 500; font-size: 30px;">{{data.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="header">
    <div class="space-between">
      <div class="followings">
        <p style="font-size: 18px; font-weight: 400;">{{data.address}}</p>
      </div>
      <div class="followings">
        <p style="font-size: 18px; font-weight: 400;"> {{data.age}} years old</p>        
      </div>  
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <ion-icon name="person-circle" style="font-size: 150px; position: relative; right: 10px; bottom: 11px; color: white; background-color: #32eb6a;"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  <p style="margin-top: 10px; margin-left: 10px; margin-bottom: 10px; font-size: 20px; font-weight: 500;">Quaratine Remaining : {{data.remainingDays}} days</p>

  <ion-card style="position: relative; bottom: 10px;" class="ion-margin-top">    
    <ion-card-content>
      <ion-item>        
        <ion-textarea rows="4" cols="20" placeholder="Any Remarks........"></ion-textarea>
      </ion-item>
    </ion-card-content>
  </ion-card>
  
</ion-content>

