

<ion-content>

  <div class="header">
    <h2>{{data.name}}</h2>

    <div class="space-between">
      <div class="followings">
        <ion-badge color="primary">{{data.address}}</ion-badge>
        <p>info</p>
      </div>
      <div class="followings">
        <ion-badge color="primary">data.age</ion-badge>
        <p>info</p>
      </div>  
    </div>
  </div>

  <div class="flex">
    <div class="border-blue">
      <div class="border-white">
        <div class="img-box">
          <ion-icon name="person-circle" style="font-size: 150px; position: relative; right: 10px; bottom: 11px; color: white; background-color: #32eb6a;"></ion-icon>
        </div>
      </div>
    </div>
  </div>

  
</ion-content>

