ion-content{
    --ion-background-color:#ffffff !important;
  }
  
  ion-toolbar{
    --ion-background-color: transparent;
    --opacity:0;
  }
  
  ion-card-title{
    margin-top: 30px;
    font-size: 40px;
    color:#080808;
    text-align:center;
    font-weight: 600;
  }
  
  ion-card-subtitle{
    padding-top: 15px;
    font-size:11px;
    color:#898585;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }
  
  ion-header{
    position: absolute;
  }
  
  ion-card{
    --ion-background-color:transparent;
  box-shadow: none !important;
  }
  
  