ion-header {
  ion-toolbar, ion-item {
    --background: #f1f5f8;
    background: #f1f5f8;
    padding: 0 10px;
  }

  ion-toolbar {
    .bordered {
      --border-radius: 10px;
      --box-shadow: 5px 5px 10px #d1d1d1, -5px -5px 10px #FFFFFF;
    }
  }

  ion-item {
    h3 {
      font-weight: 700;
      font-size: 14px;
    }

    p {
      font-weight: 500;
      font-size: 14px;
    }

    ion-avatar {
      --border-radius: 40%;
    }
  }
}

ion-content {
  --background: #f1f5f8;
  //--background: linear-gradient(90deg, rgba(43, 90, 148, 1) 0%, rgba(45, 112, 229, 1) 35%, rgba(45, 112, 229, 1) 100%);

  .slides {
    background: #f1f5f8;
    padding: 4px 10px 20px 10px;
    border-radius: 0 0 28px 28px;
  }

  .top-card {
    width: 85%;
    height: 300px;
    box-shadow: none;
    border-radius: 14px;
    border-top-right-radius: 20px;
    padding-right: 20px;
    padding: 14px;
    position: relative;
    left: 20px;
    background: white;
    

    .main {
      width: 60px;
      height: 60px;
      border-radius: 50px;
      background: white;
      box-shadow: 7px 7px 20px #dbdfe2, -7px -7px 20px #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 30px;
      }      
    }

    .files {
      padding-top: 14px;
    }
  }

  h2 {
    padding: 3px 20px;
    color: white;
    
  }

  .container {
    padding: 2px 20px;
    color: white;
    height: 300px;
    overflow: scroll;

    ion-item {
      --background: rgba(255, 255, 255, 0.1);
      padding: 0;
      margin: 14px 0;
      --border-radius: 14px;
      color: white;
      font-weight: 600;

      ion-label {
        padding: 6px 0;

        h4 {
          font-weight: 600;
          font-size: 16px;
        }

        h6 {
          color: rgba(255, 255, 255, .66);
        }

      
      }

      
    }
  } 


  
  .bottom-card {
    
    min-width: 180px;
    height: 280px;
    border-top-right-radius: 70px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    //border-radius: 20px;
    
  }
}







.box {
  top: 20px;
  left: 160px;
  position: relative;
  width: 150px;
  height: 150px;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
}



.box .percent {
  position: relative;
  width: 150px;
  width: 150px;
}

.box-1 .percent {
  position: relative;
  width: 150px;
  width: 150px;
}
.box-2 .percent {
  position: relative;
  width: 150px;
  width: 150px;
}
.box-3 .percent {
  position: relative;
  width: 150px;
  width: 150px;
}

.box .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box-1 .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.box-2 .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}
.box-3 .percent svg {
  position: relative;
  width: 150px;
  height: 150px;
}

.box .percent svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  
}

.box-1 .percent svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  
}
.box-2 .percent svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  
}
.box-3 .percent svg circle {
  width: 180px;
  height: 180px;
  fill: none;
  stroke-width: 10;
  stroke: #000;
  transform: translate(5px, 5px);
  stroke-dasharray: 440;
  stroke-dashoffset: 440;
  stroke-linecap: round;
  
}

.box .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
  stroke-width: 5px;
}

.box-1 .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
  stroke-width: 5px;
}
.box-2 .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
  stroke-width: 5px;
}
.box-3 .percent svg circle:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: #f3f3f3;
  stroke-width: 5px;
}

.box .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 75) / 100);
  stroke: #b046da;
  stroke-width: 11px;
}

.box-1 .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 40) / 100);
  stroke: #e007bc;
  stroke-width: 11px;
}

.box-2 .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 60) / 100);
  stroke: #0be016;
  stroke-width: 11px;
}

.box-3 .percent svg circle:nth-child(2) {
  stroke-dashoffset: calc(440 - (440 * 70) / 100);
  stroke: #2623d8;
  stroke-width: 11px;
}

.box .percent .number {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.box-1 .percent .number {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.box-2 .percent .number {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.box-3 .percent .number {
  position: absolute;
  top: -4px;
  left: 4px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #111;
}

.box .percent .number h2 {
  font-size: 48px; 
}


.box-1 .percent .number h2 {
  font-size: 48px; 
}
.box-2 .percent .number h2 {
  font-size: 48px; 
}
.box-3 .percent .number h2 {
  font-size: 48px; 
}
.box .percent .number h2 span{
  font-size: 24px; 

}

.box-1 .percent .number h2 span{
  font-size: 24px; 

}
.box-2 .percent .number h2 span{
  font-size: 24px; 

}
.box-3 .percent .number h2 span{
  font-size: 24px;
}

.box .text {
  padding: 10px 0 0;
  color:  #999;
}

.box-1 .text {
  padding: 10px 0 0;
  color:  rgb(255, 255, 255);
}

.box-2 .text {
  padding: 10px 0 0;
  color:  #999;
}
.box-3 .text {
  padding: 10px 0 0;
  color:  #999;
}

